* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}


#navbar {
    overflow: hidden;
    background-color: #DEF2F1;
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    float: left;
    display: block;
    color: #2B7A78;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background: #3AAFA9;
    color: black;
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;

}
.flex-item {
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
}
.row {
    margin-left: 10%;
    margin-right: 10%;
}
.picture {
    text-align: center;
}

.addPicture {
    margin-top: 5%;
    text-align: center;
}


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    width: 30%;
    margin: .5em;
}

li img {
    width: 100%;
}
h2 {
    text-align: center;
}


@media screen and (max-height: 450px) {

}

