* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}


#navbar {
    overflow: hidden;
    background-color: #DEF2F1;
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    float: left;
    display: block;
    color: #2B7A78;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background: #3AAFA9;
    color: black;
}
.picture {
    text-align: center;
}
.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
}

.addPicture {
    margin-top: 5%;
    text-align: center;
}

/* Create two equal columns that sits next to each other */
.column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

@media screen and (max-height: 450px) {

}