* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F8;
}


#navbar {
    overflow: hidden;
    background-color: #373A36;
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background: #3AAFA9;
    color: black;
    text-align: center;
}

#navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

#navbar .search-container #searchBtn {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
#navbar .search-container #searchBtn:hover {
    background: lightslategray;
}
.addPicture input {
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.addPicture button {
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;

}
.flex-item {
    width: 200px;
    margin-top: 1%;
}
.row {
    margin-left: 15%;
    margin-right: 15%;
}
.picture {
    text-align: center;
}

.addPicture {
    margin-top: 5%;
    text-align: center;
}


ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    width: 50%;
    height: 50%;
}
li img {
    width: 100%;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
    font-size: medium;
}



@media screen and (max-height: 500px) {
    #navbar .search-container {
        float: none;
    }
    #navbar a, .topnav input[type=text], #navbar .search-container #searchBtn {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    #navbar input[type=text] {
        border: 1px solid #ccc;
    }
}

